.navbar{
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
    position: sticky;
    left: 0;
    top: 0;
    height: 50px;
    z-index: 3;
    transition: transform .3s linear;
}
.navbar.hide {
    transform: translateY(-50px);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    &__link{
        display: block;
    }
    &__logo{
        display: block;
    }
    .menu{
        display: flex;
        align-items: center;
        .mobile{
            top: 15px;
            right: 10px;
            &__menu{
                background: #FFFFFF;
                width: 100%;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                top: 0;
                left: 0;
                height: 245px;
                visibility:hidden;
                z-index: 0;
                opacity: 0;
                transition: all 0.5s ease;
                img{
                    margin: 10px 15px 20px auto;
                }
                &__item{
                    margin: 0px 30px 30px 30px;
                    font-size: 12px;
                    line-height: 16px;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    a{
                        color: #333333;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            .hamburger{
                cursor: pointer;
                display: none;
                margin-bottom: 4px;
            }
        }
        
        &__list{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__list-item{
            margin: 0 15px;
            position: relative;
            .notification{
                background:red;
                color:#fff;
                position: absolute;
                top: 0;
                left: 10px;
                font-size: 12px;
                padding: 5px;
                border-radius: 50%;
            }
        }
    }
}
.alert__message{
    background-color: rgb(10, 238, 10);
    border: 1px solid rgb(20, 211, 20);
    width: 200px;
    padding: 10px;
    position: fixed;
    top: 50px;
    right: 40px;
    color:white;
    opacity: 1;
    transition: all 1s ease-in;
}
@media (max-width:768px) {
    .header{
        .menu{
            .mobile{
                .hamburger{
                    display: block;
                }
            }
        }
    }
}